Для заняття з майбутніми магістрами з дисципліни "Інформаційно-аналітичні технології", особливо з акцентом на використанні SQL для вибору інформації з бази даних, можна запропонувати таку структуру:

### Структура заняття (90 хвилин)

1. **Вступ (10 хвилин)**
   - Привітання та введення в тему.
   - Короткий огляд Data Manipulation Language (DML) і його ролі у роботі з базами даних.

2. **Теоретичні основи (20 хвилин)**
   - Основні концепції DML SQL.
   - Перегляд ключових команд (SELECT, INSERT, UPDATE, DELETE).
   - Принципи побудови ефективних SQL-запитів.
3. **Теоретичні основи Window Functions (20 хвилин)**
    - Поняття та класифікація Window Functions у SQL.
    - Основні функції: RANK, ROW_NUMBER, LEAD, LAG, FIRST_VALUE, LAST_VALUE.
    - Розуміння OVER() клавзи та її варіантів використання.

4. **Практична демонстрація (30 хвилин)**
   - Демонстрація використання PostgreSQL для вибору даних.
   - Приклади простих та складних SELECT запитів.
   - Показ використання JOIN, WHERE, GROUP BY та інших операторів.

5. **Практичні вправи (10 хвилин)**
   - Студенти самостійно пишуть SQL-запити на основі заданих умов.
   - Викладач консультує та надає зворотній зв'язок.

6. **Обговорення та підсумки

Структура мови SQL (Structured Query Language) може бути розділена на декілька основних компонентів, кожен з яких відіграє унікальну роль у управлінні та маніпуляції даними в реляційних базах даних:

### 1. Data Definition Language (DDL)
- **Завдання**: Контролює структури та схеми баз даних.
- **Ключові команди**:
  - `CREATE`: Створює нові таблиці, бази даних, індекси та інші об'єкти.
  - `ALTER`: Модифікує існуючі об'єкти бази даних.
  - `DROP`: Видаляє об'єкти з бази даних.

### 2. Data Manipulation Language (DML)
- **Завдання**: Управління даними всередині таблиць.
- **Ключові команди**:
  - `SELECT`: Використовується для вибору даних з таблиці.
  - `INSERT`: Додає нові рядки до таблиці.
  - `UPDATE`: Оновлює існуючі дані в таблиці.
  - `DELETE`: Видаляє рядки з таблиці.

### 3. Data Control Language (DCL)
- **Завдання**: Управління правами доступу до даних.
- **Ключові команди**:
  - `GRANT`: Надає користувачам права доступу до об'єктів бази даних.
  - `REVOKE`: Відкликає раніше надані права доступу.

### 4. Transaction Control Language (TCL)
- **Завдання**: Управління транзакціями в базі даних.
- **Ключові команди**:
  - `COMMIT`: Застосовує зміни, зроблені під час транзакції.
  - `ROLLBACK`: Відкочує зміни до останнього COMMIT.
  - `SAVEPOINT`: Встановлює точки відновлення у межах транзакції.

### 5. Data Query Language (DQL)
- **Завдання**: Виключно використовується для запитів до даних (часто розглядається як частина DML).
- **Основна команда**:
  - `SELECT`: Використовується для запиту даних з бази.

Кожен з цих компонентів виконує специфічні завдання, які разом дозволяють ефективно управляти даними, структурою бази даних, транзакціями, та доступом до даних у реляційних базах даних.

### Контент навчального матеріалу: Огляд Data Manipulation Language (DML)

#### Вступ до DML
- **Визначення**: Data Manipulation Language (DML) є частиною SQL, яка використовується для вибору, вставки, оновлення та видалення даних у базах даних.
- **Роль у роботі з базами даних**: DML надає користувачам та розробникам інструменти для управління даними, від простих запитів до складних аналітичних операцій.

#### Основні команди DML
1. **SELECT**
   - Використовується для вибору даних з однієї або декількох таблиць.
   - Підтримує різноманітні опції фільтрації, сортування та агрегації.
2. **INSERT**
   - Додає нові записи до таблиці.
   - Може вставляти один рядок за раз або декілька рядків одночасно.
3. **UPDATE**
   - Змінює існуючі записи в таблиці.
   - Потребує критеріїв вибору для визначення, які саме рядки оновлювати.
4. **DELETE**
   - Видаляє записи з таблиці.
   - Також потребує критеріїв для визначення видаляємих рядків.

#### Розширені можливості DML
- **JOINs**: Дозволяє об'єднувати дані з різних таблиць на основі спільних стовпців.
- **Subqueries**: Запит в межах іншого запиту, що дозволяє виконувати більш складні операції вибору.
- **Set Operations**: Операції, як UNION, INTERSECT, EXCEPT, які дозволяють об'єднувати результати декількох запитів.

#### Заключення
- **Значення DML**: Посилює гнучкість та ефективність в роботі з базами даних, дозволяючи розробникам та аналітикам виконувати широкий спектр операцій з даними.
- **Безперервний розвиток**: Сучасні бази даних продовжують розширювати можливості DML, включаючи підтримку складних аналітичних та транзакційних операцій.

### Контент для "Основні концепції DML SQL"

#### Основні концепції DML SQL
1. **Що таке DML**: Data Manipulation Language (DML) - це частина SQL, яка використовується для вставки, зміни, оновлення та видалення даних у базі даних.
2. **Взаємодія з даними**: DML дозволяє користувачам здійснювати операції з даними, які вже знаходяться в таблицях.
3. **Транзакційність**: Більшість DML-операцій можуть бути транзакційними, що означає, що зміни можуть бути відкочені назад (ROLLBACK) або збережені (COMMIT).

#### Перегляд ключових команд DML
1. **SELECT**
   - Використовується для вибору та виведення даних з однієї або декількох таблиць.
   - Підтримує фільтрацію, сортування, об'єднання таблиць та агрегування даних.
2. **INSERT**
   - Дозволяє додавати нові рядки до таблиці.
   - Можна вставляти як один рядок, так і декілька рядків одночасно.
3. **UPDATE**
   - Змінює існуючі рядки в таблиці.
   - Потребує критеріїв вибору (WHERE clause) для визначення, які саме рядки оновлювати.
4. **DELETE**
   - Видаляє рядки з таблиці.
   - Також вимагає критеріїв вибору для визначення, які рядки видалити.

#### Принципи побудови ефективних SQL-запитів
1. **Оптимізація вибору**: Використовуйте конкретні умови в WHERE clause, щоб обмежити кількість рядків, які обробляються.
2. **Індексація**: Використання індексів може значно прискорити запити, особливо при великій кількості даних.
3. **Уникнення непотрібних JOIN-ів**: Зайві об'єднання таблиць можуть сповільнити запит.
4. **Використання агрегатних функцій**: Для обробки даних на стороні сервера, а не на клієнті.
5. **Планування запитів**: Аналізуйте плани виконання запитів, щоб зрозуміти, як оптимізувати їх виконання.
6. **Чистота коду**: Чітке форматування і коментування SQL-коду спрощує його розуміння та підтримку.

### Контент для "Використання агрегатних функцій у SQL"

#### Вступ до агрегатних функцій
- **Визначення**: Агрегатні функції в SQL використовуються для виконання обчислень на наборі значень і повернення єдиного значення.
- **Застосування**: Широко використовуються для аналізу та зведення даних в базах даних.

#### Основні агрегатні функції
1. **SUM()**
   - Використовується для підсумовування числових значень в колонці.
   - Приклад: `SELECT SUM(salary) FROM employees;`

2. **AVG()**
   - Обчислює середнє значення числових даних.
   - Приклад: `SELECT AVG(salary) FROM employees;`

3. **COUNT()**
   - Визначає кількість рядків, які відповідають вказаним критеріям.
   - Приклад: `SELECT COUNT(*) FROM employees WHERE department = 'Sales';`

4. **MAX()**
   - Повертає максимальне значення в колонці.
   - Приклад: `SELECT MAX(salary) FROM employees;`

5. **MIN()**
   - Повертає мінімальне значення в колонці.
   - Приклад: `SELECT MIN(salary) FROM employees;`

#### Групування даних з GROUP BY
- **Застосування**: Агрегатні функції часто використовуються разом із `GROUP BY` для групування значень у різних рядках.
- Приклад: `SELECT department, AVG(salary) FROM employees GROUP BY department;`

#### Використання HAVING для фільтрації агрегованих даних
- **Призначення**: `HAVING` використовується для фільтрації результатів, отриманих з агрегатних функцій.
- Приклад: `SELECT department, SUM(salary) FROM employees GROUP BY department HAVING SUM(salary) > 100000;`

#### Важливість агрегатних функцій
- **Аналітичні можливості**: Агрегатні функції є ключовими для аналізу даних, дозволяючи швидко обробляти великі обсяги інформації.
- **Ефективність**: Вони дозволяють ефективно виконувати обчислення на сервері бази даних, зменшуючи навантаження на мережу та клієнтські застосунки.

### Контент для "Window Functions у SQL"

#### Поняття та Класифікація Window Functions
- **Визначення**: Window Functions в SQL - це функції, які надають унікальні можливості для виконання обчислень по набору рядків, що відносяться до поточного рядка.
- **Класифікація**:
  - **Агрегатні Window Functions**: Функції, які використовуються для агрегування даних (наприклад, `SUM()`, `AVG()`).
  - **Аналітичні Window Functions**: Функції, що виконують обчислення на основі відношення між рядками (наприклад, `ROW_NUMBER()`, `RANK()`).
  - **Операції з рядками**: Функції, які працюють з наступними чи попередніми рядками (наприклад, `LEAD()`, `LAG()`).

#### Основні Window Functions
1. **RANK()**
   - Призначення: Повертає ранг кожного рядка в групі, з дублюванням номерів рангу і пропусками.
   - Приклад: `RANK() OVER (ORDER BY score DESC)`

2. **ROW_NUMBER()**
   - Призначення: Присвоює унікальний номер кожному рядку в залежності від порядку сортування.
   - Приклад: `ROW_NUMBER() OVER (ORDER BY name)`

3. **LEAD()**
   - Призначення: Повертає значення наступного рядка у вікні.
   - Приклад: `LEAD(price) OVER (ORDER BY date)`

4. **LAG()**
   - Призначення: Повертає значення попереднього рядка у вікні.
   - Приклад: `LAG(price) OVER (ORDER BY date)`

5. **FIRST_VALUE()**
   - Призначення: Повертає перше значення в вікні.
   - Приклад: `FIRST_VALUE(salary) OVER (ORDER BY hire_date)`

6. **LAST_VALUE()**
   - Призначення: Повертає останнє значення в вікні.
   - Приклад: `LAST_VALUE(salary) OVER (ORDER BY hire_date)`

#### Розуміння OVER() клавзи
- **Основа для Window Functions**: `OVER()` клавза визначає, як буде сформовано "вікно" рядків для виконання обчислення.
- **Варіанти використання**:
  - **Без PARTITION BY**: Всі рядки вважаються частиною одного великого вікна.
  - **З PARTITION BY**: Розділяє дані на окремі "вікна" для кожної групи, вказаної в PARTITION BY.
  - **З ORDER BY**: Визначає порядок рядків у кожному вікні для обчислень.
- **Примітка**: `OVER()` клавза не змінює кількість рядків у результаті запиту; вона лише змінює те, як виконуються обчислення на цих рядках.

Для створення навчальної бази даних на тему укомплектованості підрозділів матеріальними засобами, ви можете використовувати такий SQL код для створення необхідних таблиць:

### SQL Скрипт для Створення Таблиць

```sql
-- Створення таблиці 'departments' (підрозділи)
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    location VARCHAR(255)
);

-- Створення таблиці 'equipment_groups' (групи засобів)
CREATE TABLE equipment_groups (
    group_id INT PRIMARY KEY,
    group_name VARCHAR(255) NOT NULL
);

-- Створення таблиці 'equipments' (засоби)
CREATE TABLE equipments (
    equipment_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    group_id INT,
    FOREIGN KEY (group_id) REFERENCES equipment_groups(group_id)
);

-- Створення таблиці 'equipment_availability_standard' (наявність засобів за штатом)
CREATE TABLE equipment_availability_standard (
    standard_id INT PRIMARY KEY,
    department_id INT,
    equipment_id INT,
    quantity INT NOT NULL,
    FOREIGN KEY (department_id) REFERENCES departments(department_id),
    FOREIGN KEY (equipment_id) REFERENCES equipments(equipment_id)
);

-- Створення таблиці 'equipment_availability_list' (наявність засобів засписком)
CREATE TABLE equipment_availability_list (
    list_id INT PRIMARY KEY,
    department_id INT,
    equipment_id INT,
    quantity INT NOT NULL,
    condition VARCHAR(255),
    FOREIGN KEY (department_id) REFERENCES departments(department_id),
    FOREIGN KEY (equipment_id) REFERENCES equipments(equipment_id)
);
```

### Пояснення
1. **Таблиця `departments`**: Зберігає інформацію про підрозділи, включаючи їх ID, назву та місцезнаходження.
2. **Таблиця `equipment_groups`**: Визначає групи засобів, кожна з яких має унікальний ID та назву.
3. **Таблиця `equipments`**: Включає деталі конкретних засобів, такі як ID, назва та група, до якої вони належать.
4. **Таблиця `equipment_availability_standard`**: Передбачає штатне розташування засобів для кожного підрозділу.
5. **Таблиця `equipment_availability_list`**: Фіксує фактичну наявність засобів у підрозділах, включаючи їх стан.

Цей код створює основу для бази даних, яка може бути використана для управління та аналізу укомплектованості підрозділів матеріальними засобами.

Наведений нижче код SQL демонструє, як можна заповнити таблиці, які були створені раніше, даними про підрозділи, групи засобів, засоби та їх кількість у підрозділах за списком та по штату.

### SQL Скрипт для Заповнення Таблиць

```sql
-- Заповнення таблиці 'departments' (підрозділи)
INSERT INTO departments (department_id, name, location) VALUES
(1, 'Logistics', 'Building A'),
(2, 'Engineering', 'Building B'),
(3, 'Human Resources', 'Building C');

-- Заповнення таблиці 'equipment_groups' (групи засобів)
INSERT INTO equipment_groups (group_id, group_name) VALUES
(1, 'Computers'),
(2, 'Printers'),
(3, 'Furniture');

-- Заповнення таблиці 'equipments' (засоби)
-- Для групи 'Computers'
INSERT INTO equipments (equipment_id, name, group_id) VALUES
(1, 'Laptop Model A', 1),
(2, 'Desktop Model B', 1),
(3, 'Laptop Model C', 1),
(4, 'Desktop Model D', 1),
(5, 'Laptop Model E', 1);

-- Для групи 'Printers'
INSERT INTO equipments (equipment_id, name, group_id) VALUES
(6, 'Printer Model X', 2),
(7, 'Printer Model Y', 2),
(8, 'Printer Model Z', 2),
(9, '3D Printer Model M', 2),
(10, 'Laser Printer Model N', 2);

-- Для групи 'Furniture'
INSERT INTO equipments (equipment_id, name, group_id) VALUES
(11, 'Desk', 3),
(12, 'Chair', 3),
(13, 'Cabinet', 3),
(14, 'Sofa', 3),
(15, 'Bookshelf', 3);

-- Заповнення таблиці 'equipment_availability_standard' (наявність засобів за штатом)
-- Вводимо дані для кожного підрозділу
INSERT INTO equipment_availability_standard (standard_id, department_id, equipment_id, quantity) VALUES
(1, 1, 1, 1),
(2, 1, 6, 1),
(3, 1, 11, 1),
(4, 2, 2, 1),
(5, 2, 7, 1),
(6, 2, 12, 1),
(7, 3, 3, 1),
(8, 3, 8, 1),
(9, 3, 13, 1);

-- Заповнення таблиці 'equipment_availability_list' (наявність засобів засписком)
-- Подібно до таблиці 'equipment_availability_standard', але з можливістю вказати стан обладнання
INSERT INTO equipment_availability_list (list_id, department_id, equipment_id, quantity, condition) VALUES
(1, 1, 1, 1, 'New'),
(2, 1, 6, 1, 'Used'),
(3, 1, 11, 1, 'New'),
(4, 2, 2, 1, 'New'),
(5, 2, 7, 1, 'Good'),
(6, 2, 12, 1, 'New'),
(7, 3, 3, 1, 'Used'),
(8, 3, 8, 1, 'New'),
(9, 3, 13, 1, 'New');
```

Щоб розширити заповнення таблиці `equipment_availability_standard` для всіх підрозділів та кожного найменування засобу, ми можемо внести в таблицю додаткові записи. Припустимо, що кожен підрозділ повинен мати по одній одиниці кожного засобу за штатом. Ось як можна реалізувати це:

### SQL Скрипт для Розширеного Заповнення `equipment_availability_standard`

```sql
-- Для підрозділу 'Logistics' (ID 1)
INSERT INTO equipment_availability_standard (standard_id, department_id, equipment_id, quantity) VALUES
(10, 1, 2, 1),
(11, 1, 3, 1),
(12, 1, 4, 1),
(13, 1, 5, 1),
-- Продовжуємо для інших засобів
(14, 1, 7, 1),
(15, 1, 8, 1),
(16, 1, 9, 1),
(17, 1, 10, 1),
-- Для меблів
(18, 1, 12, 1),
(19, 1, 13, 1),
(20, 1, 14, 1),
(21, 1, 15, 1);

-- Для підрозділу 'Engineering' (ID 2)
INSERT INTO equipment_availability_standard (standard_id, department_id, equipment_id, quantity) VALUES
(22, 2, 1, 1),
(23, 2, 3, 1),
(24, 2, 4, 1),
(25, 2, 5, 1),
-- Продовжуємо для інших засобів
(26, 2, 6, 1),
(27, 2, 8, 1),
(28, 2, 9, 1),
(29, 2, 10, 1),
-- Для меблів
(30, 2, 11, 1),
(31, 2, 13, 1),
(32, 2, 14, 1),
(33, 2, 15, 1);

-- Для підрозділу 'Human Resources' (ID 3)
INSERT INTO equipment_availability_standard (standard_id, department_id, equipment_id, quantity) VALUES
(34, 3, 1, 1),
(35, 3, 2, 1),
(36, 3, 4, 1),
(37, 3, 5, 1),
-- Продовжуємо для інших засобів
(38, 3, 6, 1),
(39, 3, 7, 1),
(40, 3, 9, 1),
(41, 3, 10, 1),
-- Для меблів
(42, 3, 11, 1),
(43, 3, 12, 1),
(44, 3, 14, 1),
(45, 3, 15, 1);
```

### Пояснення
В цьому скрипті ми додали записи для кожного підрозділу для кожного типу засобів. Кожен запис визначає стандартну кількість засобу (у цьому випадку 1) для кожного підрозділу. `standard_id` у кожному вставленні є унікальним і слідує послідовно за попередніми записами.

Щоб заповнити таблицю `equipment_availability_list` для кожного підрозділу та кожного найменування засобу, можна створити записи, які відображають фактичну наявність обладнання. Для спрощення припустимо, що кожен підрозділ має по одній одиниці кожного типу обладнання, і стан цього обладнання варіюється. Ось приклад SQL коду для цього:

### SQL Скрипт для Заповнення `equipment_availability_list`

```sql
-- Для підрозділу 'Logistics' (ID 1)
INSERT INTO equipment_availability_list (list_id, department_id, equipment_id, quantity, condition) VALUES
(46, 1, 2, 1, 'Used'),
(47, 1, 3, 1, 'New'),
(48, 1, 4, 1, 'Good'),
(49, 1, 5, 1, 'Used'),
-- Продовжуємо для інших засобів
(50, 1, 7, 1, 'New'),
(51, 1, 8, 1, 'Good'),
(52, 1, 9, 1, 'Used'),
(53, 1, 10, 1, 'New'),
-- Для меблів
(54, 1, 12, 1, 'Good'),
(55, 1, 13, 1, 'New'),
(56, 1, 14, 1, 'Used'),
(57, 1, 15, 1, 'Good');

-- Для підрозділу 'Engineering' (ID 2)
INSERT INTO equipment_availability_list (list_id, department_id, equipment_id, quantity, condition) VALUES
(58, 2, 1, 1, 'Used'),
(59, 2, 3, 1, 'New'),
(60, 2, 4, 1, 'Good'),
(61, 2, 5, 1, 'Used'),
-- Продовжуємо для інших засобів
(62, 2, 6, 1, 'New'),
(63, 2, 8, 1, 'Good'),
(64, 2, 9, 1, 'Used'),
(65, 2, 10, 1, 'New'),
-- Для меблів
(66, 2, 11, 1, 'Good'),
(67, 2, 13, 1, 'New'),
(68, 2, 14, 1, 'Used'),
(69, 2, 15, 1, 'Good');

-- Для підрозділу 'Human Resources' (ID 3)
INSERT INTO equipment_availability_list (list_id, department_id, equipment_id, quantity, condition) VALUES
(70, 3, 1, 1, 'Used'),
(71, 3, 2, 1, 'New'),
(72, 3, 4, 1, 'Good'),
(73, 3, 5, 1, 'Used'),
-- Продовжуємо для інших засобів
(74, 3, 6, 1, 'New'),
(75, 3, 7, 1, 'Good'),
(76, 3, 9, 1, 'Used'),
(77, 3, 10, 1, 'New'),
-- Для меблів
(78, 3, 11, 1, 'Good'),
(79, 3, 12, 1, 'New'),
(80, 3, 14, 1, 'Used'),
(81, 3, 15, 1, 'Good');
```

### Пояснення
Цей SQL скрипт створює записи про наявність кожного типу обладнання в кожному підрозділі з вказівкою їх стану (наприклад, 'New', 'Used', 'Good

### Приклади Використання Агрегатних Функцій та Групування

1. **Обчислення загальної кількості засобів у базі даних:**
   ```sql
   SELECT COUNT(*) FROM equipments;
   ```

2. **Визначення максимальної кількості засобів у підрозділі за штатом:**
   ```sql
   SELECT MAX(quantity) FROM equipment_availability_standard;
   ```

3. **Обчислення середньої кількості засобів за списком у кожному підрозділі:**
   ```sql
   SELECT department_id, AVG(quantity) FROM equipment_availability_list GROUP BY department_id;
   ```

4. **Підрахунок загальної кількості засобів за штатом у певній групі (наприклад, Computers):**
   ```sql
   SELECT SUM(eas.quantity) FROM equipment_availability_standard eas JOIN equipments e ON eas.equipment_id = e.equipment_id WHERE e.group_id = (SELECT group_id FROM equipment_groups WHERE group_name = 'Computers');
   ```

5. **Визначення кількості унікальних засобів у кожному підрозділі:**
   ```sql
   SELECT department_id, COUNT(DISTINCT equipment_id) FROM equipment_availability_list GROUP BY department_id;
   ```

6. **Знаходження мінімальної кількості засобів за штатом у кожній групі:**
   ```sql
   SELECT g.group_name, MIN(eas.quantity) FROM equipment_availability_standard eas JOIN equipments e ON eas.equipment_id = e.equipment_id JOIN equipment_groups g ON e.group_id = g.group_id GROUP BY g.group_name;
   ```

7. **Обчислення загальної кількості засобів нового стану:**
   ```sql
   SELECT COUNT(*) FROM equipment_availability_list WHERE condition = 'New';
   ```

8. **Перелік підрозділів, які мають більше ніж 5 засобів за штатом:**
   ```sql
   SELECT department_id FROM equipment_availability_standard GROUP BY department_id HAVING COUNT(equipment_id) > 5;
   ```

9. **Визначення середньої кількості засобів за списком у кожній групі:**
   ```sql
   SELECT g.group_name, AVG(eal.quantity) FROM equipment_availability_list eal JOIN equipments e ON eal.equipment_id = e.equipment_id JOIN equipment_groups g ON e.group_id = g.group_id GROUP BY g.group_name;
   ```

10. **Підрахунок кількості підрозділів, які мають засоби у вживаному стані:**
    ```sql
    SELECT COUNT(DISTINCT department_id) FROM equipment_availability_list WHERE condition = 'Used';
    ```

### Приклади Використання Віконних Функцій

1. **Визначення рядкового номера для кожного засобу у загальному списку:**
   ```sql
   SELECT equipment_id, name, ROW_NUMBER() OVER (ORDER BY name) FROM equipments;
   ```

2. **Обчислення накопичувальної суми кількості засобів за штатом у підрозділах:**
   ```sql
   SELECT department_id, equipment_id, quantity, SUM(quantity) OVER (ORDER BY department_id) FROM equipment_availability_standard;
   ```

3. **Використання функції LEAD для визначення наступного засобу в списку для кожного підрозділу:**
   ```sql
   SELECT department_id, equipment_id, LEAD(equipment_id, 1) OVER (ORDER BY department_id) AS next_equipment_id FROM equipment_availability_list;
   ```

4. **Визначення рангу підрозділів за кількістю засобів за списком:**
   ```sql
   SELECT department_id, COUNT(equipment_id) as total_equipments, RANK() OVER (ORDER BY COUNT(equipment_id) DESC) as rank FROM equipment_availability_list GROUP BY department_id;
   ```

5. **Обчислення середньої кількості засобів за штатом в кожному підрозділі з використанням функції AVG:**
   ```sql
   SELECT department_id, equipment_id, quantity, AVG(quantity) OVER (PARTITION BY department_id) FROM equipment_availability_standard;
   ```